.lector
{
    padding: 5px;
    border: 1px solid #c0c0c0;
    min-height: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}

.lector:hover
{
    background: #f5f5f5;
}

.lector_lector-selected
{
    background: #f6f6f6;
}

.lector_lector-expand
{
    height: auto;
}

.lector__name
{
    display: block;
}

.lector__location
{
    color: #dedede;
    font-size: 12px;
}

.lector__info
{
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}

.lector__date
{
    color: #dedede;
    font-size: 12px;
}

.lector-expand__slides {
    width: 100%;
    min-height: 430px;
}

.lector-expand__name {
    font-size: 35px;
}

.lector-expand__date
{
    color: #dedede;
}

.lector-expand__lector-name {
    display: block;
}