<div class='lesson' {{bind-attr class="isSelected"}}>
    <div class="lesson__info">
        <span class="lesson__name">{{name}}</span>
        <span class="lesson__date">{{ formatDate date }}</span>
    </div>
</div>