<div class='lesson'>
    <div class="lesson__info">
        <span class="lesson__name">{{name}}</span>
        <span class="lesson__location">Яндекс</span>
        <span class="lesson__date">{{ date }}</span>
    </div>
</div>