<div class='student'>
    <div class="student__photo">
        <img {{bind-attr src="link_photo" alt="first_name last_name"}}></img>
    </div>
    <div class="student__info">
        <span class="student__name">{{first_name}} {{last_name}}</span>
        <span class="student__location">{{city}}</span>
    </div>
</div>