<a class="twitter-timeline" href="https://twitter.com/search?q=%23%D1%88%D1%80%D0%B8"
   data-widget-id="387206844118093825" data-chrome="nofooter noheader noscrollbar" data-tweet-limit="">Tweets about
    "#шри"</a>